<div class="title">
  CREDIT CARD PAYMENT
</div>
<div class="container">


  <div class="creditcard" [@popverState]="stateName">
    <div class="logo">
    <img src="assets/chip.png" class="chip-left" />
    <img src="assets/visa.png" class="chip-right" />
    <img src="assets/mastercard.jpg" class="chip-master" />
  </div>
    <div class="cc-number">
      <textarea class="inputs" id="inputNumber" readonly>
        •••• •••• •••• ••••
      </textarea>
    </div>
    <div class="bottom-container">
      <div class="name-input">
        <textarea class="name-area" placeholder="YOUR NAME" id='printchatbox'></textarea>
      </div>
      <div class="valid-input">
        <textarea class="date-area" id="inputValid" readonly>•• / ••</textarea>
      </div>
    </div>
  </div>
</div>

<div class="cc-back" [@popOverState]="stateName">
  <div class="cvc-black"></div>
  <div class="cvc-white">
    <textarea class="cvc-inout" id="inputCvc"></textarea>
  </div>
</div>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="client-input">
    <div class="form-group">
      <label>
        Number:
      </label>
      <input type="text" (click)="click()" formControlName="number" mask='0000 0000 0000 0000' [showMaskTyped]="true" (input)="onInputChange($event.target.value)"
        [ngClass]="{ 'is-invalid': submitted && f.number.errors }">
      <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
        <div *ngIf="f.number.errors.required">Number is required</div>
        <div *ngIf="f.number.errors.minlength">Number must be 16 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label>
        Name:
      </label>

      <input type="text" (click)="click()" formControlName="text" onkeyUp="document.getElementById('printchatbox').innerHTML = this.value"
        [ngClass]="{ 'is-invalid': submitted && f.text.errors }">
      <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
        <div *ngIf="f.text.errors.required">Name is required</div>
      </div>

    </div>
    <div class="form-group">
      <label>
        Date:
      </label>
      <input type="text" (click)="click()" formControlName="date" [showMaskTyped]="true" mask="00/00" placeholder="Date" (input)="onDateChange($event.target.value)"
        [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
      <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
        <div *ngIf="f.date.errors.required">Date is required</div>
        <div *ngIf="f.date.errors.minlength">Date must be MM/YY </div>
      </div>
    </div>
    <div class="form-group">
      <label>
        CVC:
      </label>
      <input type="text" formControlName="cvc" placeholder="CVC" mask="000" (click)="toggle()" onkeyUp="document.getElementById('inputCvc').innerHTML = this.value"
        [ngClass]="{ 'is-invalid': submitted && f.cvc.errors }">
      <div *ngIf="submitted && f.cvc.errors" class="invalid-feedback">
        <div *ngIf="f.cvc.errors.required">CVC is required</div>
        <div *ngIf="f.cvc.errors.minlength">CVC must be 3 characters</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" ng-click="showResult()">Register</button>
    </div>
    <div class="result" style="display:none"> You data is:
      <span>{{registerForm.value | json}}</span>
    </div>
  </div>
</form>

<router-outlet></router-outlet>
